.sidebar {
	position: absolute;
	top: -30em; 
	left: 24vw;
	transform: rotate(270deg);

	a {
		text-decoration: none;
	}
	 
	.wrapper { 
		font: $secondary-font; 
		//background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y; 
		grid-gap: 10px; 
		margin-top: 150px; 
		width: 130px; 
		font-size: medium;
		display: grid;
	
		grid: 	'resources archives select' 
				'resources archives select'
				'resources archives select'
				'resources archives summary';
	}

	h3.select { 
		background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left; 
		margin: 10px 0 5px 0; 
		width: 97px; 
		height: 16px; 
	
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	h3.archives { 
		background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
		margin: 25px 0 5px 0; 
		width:57px; 
		height: 14px; 
	
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	h3.resources { 
		background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
		margin: 25px 0 5px 0; 
		width:63px; 
		height: 10px; 
	
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		line-height: 1.3em; 
		background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
		display: block; 
		padding-top: 5px; 
		margin-bottom: 5px;
		list-style-type: none;

		a:link {
			color: #988F5E;
		}

		a:visited {
			color: #B3AE94;
		}
	}
}
    
.design-selection { grid-area: select; }
.design-archives { grid-area: archives; }
.zen-resources { grid-area: resources; }
.design-name { font-size: medium; }
.design-selection { font-size: xx-small; }

@media only screen and (min-width: 700px)
{}