// color palette - these colors will be the color swatches of the Colors section

$color-1: #B4D2D9; // Main Blue 
$color-2: #66858C; // Dark Blue
$color-3: #EDFCFF; // Lightest Blue - background
$color-4: #8C7158; // Brown
$color-5: #D9C5B4; // Tan
$color-6: #f00; // red

// additional colors

$success: #6fce72; // green
$alert: $color-6; // red
