footer {
	display: inline;
	width: 100%;
	margin: 0;
  top: 25%;
  left: 20%;
  padding: 20px 15px 20px 15px;
  background-color: $color-3;
}

a {
  text-decoration: none;
  color: $color-2;
  padding: .5em;
  margin: 10px;
  font-size: 26px;
}

a:hover {
  color: $color-5;
}
