footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding:5px;
  background-color: $color-1;
  font-family: $primary-font;
}

footer a {
  text-decoration: none;
  color: $color-2;
  padding: .5em;
  margin: 10px;
  font-size: 26px;
}

footer a:hover {
  color: $color-5;
}
